apiVersion: v1
kind: ConfigMap
metadata:
  name: loki-config
  namespace: default
data:
  loki.yaml: |
    auth_enabled: false

    server:
      http_listen_port: 3100

    ingester:
      lifecycler:
        address: 127.0.0.1
        ring:
          kvstore:
            store: inmemory
          replication_factor: 1
        final_sleep: 0s
      chunk_idle_period: 5m
      chunk_retain_period: 30s

    schema_config:
      configs:
        - from: 2026-01-01
          store: tsdb
          object_store: s3
          schema: v13
          index:
            prefix: index_
            period: 24h

    storage_config:
      aws:
        s3: s3://ap-northeast-2/portforge-log
        region: ap-northeast-2
      tsdb_shipper:
        active_index_directory: /loki/tsdb-index
        cache_location: /loki/tsdb-cache
        shared_store: s3
      
    compactor:
      working_directory: /loki/compactor
      shared_store: s3
      compaction_interval: 10m

    limits_config:
      reject_old_samples: true
      reject_old_samples_max_age: 168h